.middle {
    .display-owner-info {
        display: flex;
        justify-content: space-between;
        .owner-location {
            p {
                color: #707070;
            }
        }
        .pet-owner-info {
            text-align: center;
            p {
                color: #707070;
                margin-bottom: 8px;
                span {
                    margin-right: 10px;
                }
            }
            button {
                background-color: white;
                height: 38px;
                padding: 0 40px;
                border: 1px solid #FF5E3A;
                color: #FF5E3A;
                border-radius: 23px;
            }
        }
    }
    .find-pet-section {
        h3 {
            font-size: 16px;
        }
        p {
            color: #EBB088;
        }
    }
    .event-display-detail {
        .owner-dscrp-footer {
            display: grid;
            grid-template-columns: auto auto 1fr auto auto !important;
            @media (min-width:320px) and (max-width:767px) {
                grid-template-columns: auto auto auto !important;
            }
            @media (min-width: 1024px) and (max-width: 1279px) {
                grid-template-columns: auto auto 1fr !important;
                grid-gap: 15px !important;
            }
            .descp-footer-comment {
                display: flex;
                grid-gap: 6px;
            }
            .connect-footer-btn {
                // margin-left: 30px;
                background-color: white !important;
                border: 1px solid #FF5E3A !important;
                p {
                    color: #FF5E3A !important;
                }
            }
        }
    }
}
.right-sidebar {
    .right-sidebar-event {
        .breakfast-section {
            .partner-card-content {
                .owner-card-title {
                    justify-content: space-between;
                    h4 {
                        font-weight: 500;
                    }
                }
                .owner-new-card {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 10px;
                    button {
                        background-color: #F9E5E0;
                        border-radius: 14px;
                        color: #FF5E3A;
                        padding: 0 24px;
                    }
                }
            }
        }
    }
}