.middle-content {
    .middle {
        .form-appointment-section {
            .event-user-btn {
                #announce-location {
                    font-size: 14px;
                    color: #707070;
                    text-align: end;
                }
                .announce-ticket {
                    margin-bottom: 15px;
                    justify-content: center;
                    button {
                        font-size: 12px;
                        height: 35px;
                        span {
                            font-size: 18px !important;
                            font-weight: 600;
                        }
                    }
                }
                .pink-pet-button {
                    display: flex;
                    grid-gap: 10px;
                    align-items: center;
                    margin-bottom: 10px;
                    span {
                        color: #707070;
                    }
                    p {
                        padding: 6px 15px;
                        background-color: #f9edeb;
                        color: #ff5e3a;
                        font-size: 12px;
                        border-radius: 4px;
                    }
                }
            }
        }
        .other-service-btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 70px;
            margin-bottom: 20px;
            padding: 0 20px;
            @media (min-width:320px) and (max-width:767px) {
                flex-direction: column;
                justify-content: center;
                grid-gap: 20px;
                height: 100px;
            }
            h3 {
                font-weight: 600;
                font-size: 18px;
            }
            .services-buttons {
                display: flex;
                grid-gap: 10px;
                @media (min-width:320px) and (max-width:767px) {
                    justify-content: space-between;
                    width: 100%;
                }
                button {
                    padding: 12px 40px;
                    color: #ff5e3a;
                    border-radius: 23px;
                    background-color: white;
                    font-size: 11px;
                    border: 1px solid #ff5e3a;
                    @media (min-width:320px) and (max-width:767px) {
                        padding: 8px 20px;
                        width: 120px;
                    }
                    @media (min-width: 1024px) and (max-width: 1279px) {
                        padding: 10px 15px;
                    }
                    &:last-child {
                        background-color: #ff5e3a;
                        color: white;
                    }
                }
            }
        }
        .follow-up-buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            grid-gap: 10px;
            margin-bottom: 20px;
            padding: 15px;
            @media (min-width:320px) and (max-width:767px) {
                display: grid;
                grid-template-columns: auto auto auto;
                justify-content: space-between;
                grid-gap: initial;
            }
            button {
                padding: 10px 50px;
                background-color: #ff5e3a;
                color: white;
                border-radius: 23px;
                @media (min-width:320px) and (max-width:767px) {
                    padding: 0px;
                    width: 90px;
                    height: 35px;
                    font-size: 12px;
                }
                @media (min-width: 1024px) and (max-width: 1279px) {
                    padding: 10px 15px;
                    width: 110px;
                }
                &:nth-last-child(2) {
                    background-color: white;
                    border: 1px solid #ff5e3a;
                    color: #ff5e3a;
                }
            }
        }
        .event-display-detail {
            .offered-share-section-1 {
                @media (min-width:320px) and (max-width:767px) {
                    justify-content: space-between;
                }
            }
            .announce-description-footer {
                grid-template-columns: auto 1fr auto;
                display: grid;
                grid-gap: 30px;
                padding-top: 0;
                border-top: 0;
                @media (min-width:320px) and (max-width:767px) {
                    grid-gap: initial;
                    justify-content: space-between;
                    grid-template-columns: auto auto auto;
                }
                p {
                    margin-bottom: 0;
                    font-size: 12px;
                }
                .announce-share-btn-1 {
                    width: 80px;
                }
                .announce-share-btn {
                    height: 30px;
                    border-radius: 23px;
                    background-color: #ff5e3a;
                    padding: 0 22px;
                    color: white;
                    @media (min-width:320px) and (max-width:767px) {
                        height: 26px;
                        padding: 0 18px;
                    }
                    p {
                        font-size: 9px;
                        color: #f9edeb;
                    }
                }
            }
        }
    }
    .right-sidebar {
        .right-sidebar-event {
            .breakfast-section {
                .breakfast-content {
                    .announce-card-title {
                        display: flex;
                        grid-gap: 30px;
                        align-items: end;
                    }
                    .announce-pet-rent {
                        display: flex;
                        justify-content: space-between;
                        align-items: baseline;
                        .announce-pets-available {
                            display: flex;
                            grid-gap: 6px;
                            span {
                                font-weight: 700;
                                font-size: 11px;
                            }
                        }
                    }
                    #announce-description {
                        span {
                            color: #ff5e3a;
                            text-decoration: underline;
                            display: inline-block;
                        }
                    }
                    .announce-pink-button {
                        align-items: center;
                        button {
                            display: flex;
                            align-items: center;
                            span {
                                color: #ff5e3a;
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
