.form-company {
    h5.form-heading {
        font-size: 18px;
        color: #494720;
        margin-bottom: 21px;
        font-weight: 500;
    }
}
// .g-1fr-mobile {
//     @media (min-width: 320px) and (max-width: 767px) {
//         grid-template-columns: 1fr !important;
//     }
// }